@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.formUp {
  @include mx.column-fs-fs(8px);
  min-width: 300px;
  max-width: 440px;
  width: 100%;
  height: auto;
  padding: 0;

  @include mx.mq("md") {
    padding: 20px 0;
  }
}

.btnWrap {
  @include mx.row-cr-cr(0);
  width: 100%;
  height: fit-content;
  margin-top: 10px;

  button {
    @include mx.btn-card(240px);
    height: 48px;
  }
}
