@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.form {
  @include mx.column-fs-fs(4px);
  width: 300px;
  .btn {
    @include mx.btn-card(300px);
  }
  padding: 40px 0;
}

.wrapInput {
  @include mx.column-fs-fs(4px);
  width: inherit;

  .label {
    @include mx.row-fs-cr(2px);
    @extend %small-text;
    span {
      color: #fc5a5a;
    }
  }

  .field {
    @include mx.input(40px);
    width: inherit;
  }

  .error {
    @include mx.row-fs-cr(0);
    height: 16px;
    @extend %details-small;
    color: #fc5a5a;
  }
}
