@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.formFt {
  @include mx.column-fs-fs(4px);
  width: 300px;
  // .btn {
  //   @include mx.btn-card(300px);
  // }
  padding: 40px 0;
}

.btnWrap {
  @include mx.row-cr-cr(0);
  width: 100%;
  height: fit-content;
  margin-top: 10px;

  button {
    @include mx.btn-card(240px);
    height: 48px;
  }
}
