@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.wrapTitle {
  @include mx.row-fs-cr(20px);
  width: 100%;
  max-width: 1200px;
  padding-left: 40px;
  .box {
    display: none;

    @include mx.mq("md") {
      @include mx.row-cr-cr(0);

      width: 48px;
      height: 48px;
      background-color: v.$accent;
      border-radius: 39% 61% 69% 31% / 85% 76% 24% 15%;
      color: v.$card;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  h2 {
    @extend %shantell-title;
    font-size: 24px;
    // color: v.$card;
    color: v.$link;

    @include mx.mq("md") {
      font-size: 28px;
    }
  }
}
