@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.wrapTitle {
  @include mx.row-fs-cr(20px);
  .box {
    display: none;

    @include mx.mq("md") {
      @include mx.row-cr-cr(0);

      width: 48px;
      height: 48px;
      background-color: #b5b5be;
      border-radius: 39% 61% 69% 31% / 85% 76% 24% 15%;
      color: v.$white;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  h2 {
    @extend %shantell-title;
    color: #92929d;
    font-size: 24px;
    padding-left: 40px;

    @include mx.mq("md") {
      font-size: 28px;
      padding-left: 0;
    }
  }
}
