@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrapContent {
  position: relative;
  @include mx.column-fs-cr(0);
  max-width: 900px;
  max-height: 80vh;

  background-color: v.$card;
  border-radius: 4px;
  padding: 40px 10px;

  overflow: auto;
  @include mx.scroll-bar;

  @include mx.mq("md") {
    padding: 40px;
  }

  .close {
    @include mx.btn-close(16px, 12px);
  }

  .wrapReviews {
    @include mx.column-fs-cr(8px);

    width: 100%;
    // padding: 40px 0;
    // padding-right: 8px;
  }
}

.boxReview {
  @include mx.column-fs-fs(8px);
  padding-bottom: 16px;

  border-bottom: 4px dotted v.$link;
}

.wrapInfo {
  @include mx.row-fs-fs(40px);
  @extend %accent-text;
  color: v.$text;
}

.wrapStars {
  @include mx.row-fs-fs(8px);

  .star {
    width: 20px;
    height: 20px;
    fill: v.$accent;
  }
}

.wrapComment {
  @extend %main-text;
}
