@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrapSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  p {
    @extend %shantell-text;
    color: v.$card;
  }
}

.labelSearch {
  position: relative;
  @include mx.row-fs-cr(0px);

  width: 300px;
  height: fit-content;

  .search {
    @include mx.input(48px);
    width: inherit;
  }

  button {
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    width: 48px;
    height: 48px;
    .icon {
      fill: v.$brend;
      width: 28px;
      height: 28px;
    }
  }
}
