@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrapSearch {
  @include mx.column-fs-cr(8px);

  width: 100%;
  p {
    @extend %shantell-text;
    font-size: 20px;
    color: v.$card;
    text-align: center;
    @include mx.mq("md") {
      font-size: 24px;
    }
  }

  @include mx.mq("md") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.labelSearch {
  position: relative;
  @include mx.row-fs-cr(0px);

  width: 300px;
  height: fit-content;

  .search {
    @include mx.input(48px);
    width: inherit;
  }

  .wrapBtn {
    position: absolute;
    right: 0;
    @include mx.row-fs-cr(0);

    button {
      display: inline-flex;
      align-items: center;
      width: 40px;
      height: 40px;
      .icon {
        fill: v.$brend;
        width: 28px;
        height: 28px;
      }
    }
  }
}
