@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.select {
  @include mx.column-fs-cr(4px);

  width: 320px;
}

.wrapInput {
  position: relative;
  display: flex;
  input {
    @include mx.row-fs-cr(0px);
    @extend %accent-text;

    width: 300px;
    height: 48px;
    border-radius: 12px;
    padding: 4px 8px 4px 12px;

    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    //   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    &::placeholder {
      @extend %details-small;
      color: v.$gray;
    }
  }
  button {
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    width: 48px;
    height: 48px;
    .icon {
      fill: v.$brend;
      width: 28px;
      height: 28px;
    }
  }
}

.options {
  @include mx.column-fs-fs(8px);

  width: 300px;
  padding: 8px;
  border-radius: 12px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  //   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 4px 8px 4px 12px;

  cursor: pointer;
  li {
    width: 100%;
    @extend %details;
    transition: font-weight 0.2s linear;
    &:hover {
      font-weight: 700;
    }
  }
}

.visible {
  display: block;
}
.hidden {
  display: none;
}
