@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.btnMenu {
  // top: 68px;
  top: 60px;
  left: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  width: 28px;
  height: 52px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  background-color: v.$accent;
  padding: 0;
  .iconMenu {
    fill: v.$card;
    width: 24px;
    height: 24px;
  }
  @include mx.mq("lg") {
    display: none;
  }
}

.navigate {
  position: fixed;
  z-index: 2;
  // top: 68px;
  top: 60px;
  left: 0;

  @include mx.column-fs-fs(20px);
  width: 100%;
  height: 100%;

  padding: 16px 10px 20px 10px;
  background-color: v.$brend;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.2s all linear;
  margin-bottom: 0;

  &.isOpen {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }

  @include mx.mq("md") {
    padding: 20px 20px 80px 20px;
  }

  @include mx.mq("lg") {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    width: 340px;
    padding: 20px 20px 40px 20px;
  }
}

.wrappRadio {
  @include mx.column-fs-fs(8px);
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid v.$accent;
}

.radio {
  @include mx.row-fs-cr(16px);
  line-height: 32px;
  cursor: pointer;

  input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 4px solid v.$card;
    transition: 0.2s all linear;

    position: relative;
  }

  span {
    @extend %shantell-text;

    color: v.$card;
    transition: color 0.2s linear;
  }

  input:checked {
    border: 4px solid v.$accent;
    + span {
      color: v.$accent;
    }
  }
}
// NavPerson
.listLink {
  @include mx.column-fs-fs(8px);
  @include mx.scroll-bar;

  overflow: auto;
  width: 100%;
  height: 100%;

  .wrapLink {
    @include mx.row-fs-cr(0);

    .link {
      @extend %accent-text;
      height: 28px;

      color: v.$card;
      transition: color 0.2s linear;

      &:hover {
        color: v.$accent;
      }

      &.active {
        font-weight: 700;
        color: v.$accent;
      }
    }
  }
}

.btnClose {
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-flex;
  width: 24px;
  height: 24px;
  color: v.$card;

  &:hover,
  &:focus {
    color: v.$accent;
  }

  .iconClose {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }

  @include mx.mq("lg") {
    display: none;
  }
}
// *********
.wrapStub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  // gap: 20px;
}

.caseRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.caseLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  // width: 60px;
  // height: 60px;
  // background-color: #ffffff;
  // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.boxR {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  // border-radius: 72% 28% 28% 72% / 72% 72% 28% 28%;
  border-radius: 38% 62% 63% 37% / 82% 72% 28% 18%;
  color: #82c43c;
}
.boxL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  // border-radius: 72% 28% 28% 72% / 72% 72% 28% 28%;
  // border-radius: 28% 72% 72% 28% / 72% 72% 28% 28%;
  border-radius: 68% 32% 48% 52% / 79% 77% 23% 21%;
  color: #82c43c;
}
.iconEmpty {
  fill: currentColor;
  width: 28px;
  height: 28px;
}
