@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

// @import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Oi&family=Pacifico&family=Rubik+Bubbles&family=Rubik+Scribble&display=swap");

.wellcome {
  @include mx.column-fs-cr(20px);
  padding: 40px 0;

  // @include mx.mq("lg") {
  //   @include mx.column-fs-cr(40px);
  // }

  // @include mx.mq("xl") {
  //   gap: 80px;
  // }

  // @include mx.mq("xxl") {
  //   @include mx.column-fs-cr(80px);
  // }

  // h1 {
  //   font-family: "Pacifico", serif;
  //   font-weight: 400;
  //   font-style: normal;
  //   font-size: 32px;
  //   line-height: 1.2;
  //   letter-spacing: 0.08em;
  //   color: v.$brend;

  //   @include mx.mq("lg") {
  //     font-size: 48px;
  //   }
  // }
}
.box {
  @include mx.column-fs-cr(20px);
  max-width: 300px;

  // @include mx.mq("md") {
  //   @include mx.row-fs-cr(40px);
  //   max-width: 300px;
  // }

  // @include mx.mq("lg") {
  //   gap: 80px;
  //   max-width: 1000px;
  // }

  img {
    width: 200px;
    height: auto;

    // @include mx.mq("md") {
    //   width: 340px;
    // }

    // @include mx.mq("lg") {
    //   width: 420px;
    // }

    // @include mx.mq("xl") {
    //   width: 480px;
    // }
  }
  .info {
    @include mx.column-fs-cr(20px);
  }
}
