@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.wellcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @include mx.mq("md") {
    gap: 40px;
  }

  @include mx.mq("lg") {
    gap: 60px;
  }

  @include mx.mq("xl") {
    gap: 80px;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: fn.get-color("success");
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @include mx.mq("md") {
    flex-direction: row;
    max-width: 880px;
    gap: 40px;
  }

  @include mx.mq("lg") {
    gap: 80px;
    max-width: 1000px;
  }

  @include mx.mq("xl") {
    gap: 100px;
    max-width: 1200px;
  }

  img {
    width: 300px;
    height: auto;

    @include mx.mq("md") {
      width: 340px;
    }

    @include mx.mq("lg") {
      width: 420px;
    }

    @include mx.mq("xl") {
      width: 480px;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}
