@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrapForm {
  position: relative;
  @include mx.column-fs-fs(16px);
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  height: auto;

  background-color: v.$card;
  border-radius: 4px;
  padding: 40px 10px;

  @include mx.mq("md") {
    padding: 40px;
  }
  .close {
    @include mx.btn-close(16px, 12px);
  }
}

.btnWrap {
  @include mx.row-cr-cr(0);
  width: 100%;
  height: fit-content;

  button {
    @include mx.btn-card(240px);
    height: 48px;
  }
}

.case {
  @include mx.column-fs-fs(4px);
  max-width: 400px;
  p {
    @include mx.row-fs-cr(2px);
    @extend %small-text;
    span {
      color: #fc5a5a;
    }
  }
}

// .caseInput {
//   @include mx.input(42px);
//   width: 300px;

//   @include mx.mq("md") {
//     width: 400px;
//   }
// }

// .caseStars {
//   @include mx.row-fs-fs(8px);
//   li {
//     @include mx.row-cr-cr(0);
//     position: relative;
//     width: 24px;
//     height: 24px;
//     cursor: pointer;
//     .box {
//       position: absolute;
//       // appearance: none;
//       width: 20px;
//       height: 20px;
//       border: none;
//       padding: 0;
//     }
//     .star {
//       width: 20px;
//       height: 20px;
//       fill: v.$accent;
//     }
//   }
// }

// .caseTextarea {
//   @include mx.input(120px);
//   width: 300px;
//   resize: vertical;

//   @include mx.mq("md") {
//     width: 400px;
//   }
// }
