@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrappCard {
  @include mx.column-fs-fs(0px);
  max-width: 1200px;

  height: auto;
  background-color: v.$card;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  padding: 20px;
}
.userInfo {
  @include mx.row-fs-cr(40px);

  padding-left: 20px;
  margin-bottom: 8px;
  h4 {
    @extend %section-title;
    color: v.$text;
  }
}

.wrapRating {
  @include mx.row-fs-cr(20px);

  height: 20px;
  margin-bottom: 20px;

  .arrStar {
    @include mx.row-fs-cr(8px);

    .star {
      fill: v.$accent;
      width: 16px;
      height: 16px;
    }
  }

  .total {
    @extend %accent-text;
    color: v.$text;
  }
}

.wrappText {
  @extend %main-text;
  color: v.$text;

  margin-bottom: 20px;
}

// SocialNetworks
.links {
  @include mx.row-fs-cr(0);
  width: auto;
  height: 40px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  margin-right: 40px;

  @include mx.mq("lg") {
    margin-right: 20px;
  }
}

.iconLink {
  color: rgba(v.$link, 0.5);
  transition: fill 0.2s linear;
  &:hover {
    color: rgba(v.$link, 1);
  }
  svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }

  .hidden & {
    display: none;
  }
}

.bottomCase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;

  margin-bottom: 20px;
}
.reviewBtn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    @include mx.btn-card(240px);
    height: 48px;

    @include mx.mq("lg") {
      width: 200px;
    }
    @include mx.mq("xl") {
      width: 240px;
    }
  }
}
