@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrappCard {
  @include mx.column-fs-fs(0px);

  max-width: 900px;

  height: auto;
  background-color: v.$card;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  padding: 20px;

  @include mx.mq("md") {
    padding: 40px;
  }
}
.userInfo {
  @include mx.row-fs-cr(40px);

  padding-left: 20px;
  margin-bottom: 8px;
  h4 {
    @extend %section-title;
    color: v.$text;
  }
}

.wrapRating {
  @include mx.row-fs-cr(20px);

  height: 20px;
  margin-bottom: 20px;

  .arrStar {
    @include mx.row-fs-cr(8px);

    .star {
      fill: v.$accent;
      width: 16px;
      height: 16px;
    }
  }

  .total {
    @extend %accent-text;
    color: v.$text;
  }
}

.wrappText {
  @extend %main-text;
  color: v.$text;

  margin-bottom: 20px;
}

// SocialNetworks
.links {
  @include mx.row-fs-cr(0);
  width: auto;
  height: 40px;
  // margin-bottom: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  margin-right: 40px;
}

.iconLink {
  color: rgba(v.$link, 0.5);
  transition: fill 0.2s linear;
  &:hover {
    color: rgba(v.$link, 1);
  }
  svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }

  .hidden & {
    display: none;
  }
}

.bottomCase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  column-gap: 40px;
  width: 100%;

  margin-bottom: 20px;
}
.reviewBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  // width: 100%;
  // margin-bottom: 20px;

  button {
    @include mx.row-cr-cr(0px);

    width: 240px;
    height: 48px;
    border-radius: 8px;
    padding: 8px;

    @extend %details;
    text-align: center;

    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: v.$card;
    transition: background-color 0.2s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: v.$link;
      color: v.$white;
    }
  }
}
