@use "../../../scss/variables" as v;
@use "../../../scss/functions" as fn;
@use "../../../scss/mixins" as mx;
@use "../../../scss/placeholders";

.wrapOffers {
  @include mx.column-fs-cr(20px);
  max-width: 1200px;

  .listOffers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    li {
      display: flex;
    }
  }
}
