@use "../../scss/variables" as v;
@use "../../scss/functions" as fn;
@use "../../scss/mixins" as mx;
@use "../../scss/placeholders";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  @include mx.column-cr-cr(0);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transition: all 0.2s linear;
  padding: 0 10px;
}

// .wrapContent {
//   position: relative;
//   @include mx.column-fs-cr(8px);
//   padding: 40px 10px;
//   background-color: v.$card;
//   width: 100%;
//   height: auto;
//   border-radius: 4px;

//   @include mx.mq("md") {
//     padding: 40px 20px;
//   }

//   .btnClose {
//     position: absolute;
//     top: 16px;
//     right: 12px;
//     width: 28px;
//     height: 28px;
//     color: v.$text;
//     svg {
//       width: 28px;
//       height: 28px;
//       fill: currentColor;
//     }
//   }

//   .content {
//     @include mx.row-cr-cr(0);
//     width: 100%;
//     height: fit-content;
//   }
// }
