@use "../scss//variables" as v;
@use "../scss/functions" as fn;
@use "../scss/mixins" as mx;
@use "../scss/placeholders";

.container {
  @include mx.column-fs-cr(0px);
  width: 100vw;
  height: auto;
  padding: 0;
  @include mx.mq("lg") {
    position: fixed;
    z-index: 1;
    height: 100vh;
  }
}

.top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  @include mx.row-cr-cr(0);

  width: 100vw;
  height: 60px;
  background-color: v.$card;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  padding: 0;
}

.page {
  position: relative;
  top: 60px;

  @include mx.row-cr-fs(0px);
  width: 100%;
  height: fit-content;

  @include mx.mq("lg") {
    height: calc(100vh - 60px);
  }
}

.home {
  @include mx.column-fs-cr(20px);
  background-color: v.$card;
  width: 100%;
  height: 100%;
  padding: 0 10px;

  @include mx.mq("md") {
    padding: 0 20px;
  }

  @include mx.mq("lg") {
    @include mx.row-cr-cr(20px);
    padding: 0 40px;
  }

  @include mx.mq("xl") {
    padding: 0 60px;
  }

  @include mx.mq("xxl") {
    width: 1820px;
    padding: 0 80px;
  }
  .selectCase {
    @include mx.column-fs-cr(20px);
  }
}

.service {
  @include mx.column-fs-cr(0);
  width: 100%;
  height: 100%;
  padding: 0 10px;

  // background-color: v.$brend;
  background-color: #ebebed;
  background-color: #92929d;

  @include mx.mq("md") {
    padding: 0 20px;
  }

  @include mx.mq("lg") {
    @include mx.row-fs-fs(0);
    padding: 0 40px;
  }

  @include mx.mq("xl") {
    padding: 0 60px;
  }

  @include mx.mq("xxl") {
    width: 1820px;
    padding: 0 80px;
  }

  .servicePage {
    @include mx.column-fs-cr(16px);
    width: 100%;
    height: 100%;
    padding: 20px 0;

    @include mx.mq("md") {
      padding: 40px 20px;
    }

    @include mx.mq("lg") {
      width: calc(100% - 320px);
      overflow: auto;
      @include mx.scroll-bar;
    }
  }
}
