@use "./placeholders";
@use "./variables" as v;
@use "./functions" as fn;

body {
  @extend %main-text;

  font-family: v.$main-font, sans-serif;
  color: v.$text;
}

button {
  font-family: inherit;
  color: v.$current;
  cursor: pointer;
}

summary {
  list-style-type: none;
}
