@import url("https://fonts.googleapis.com/css2?family=Oi&family=Pacifico&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

%shantell-title {
  font-family: "Shantell Sans", serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.2;
  // font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
}
%shantell-text {
  font-family: "Shantell Sans", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
}

%section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.025em;
}

%main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
%small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.04em;
}

%accent-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

%details {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42;
  letter-spacing: 0.04em;
}

%details-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.04em;
}
