@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Oi&family=Pacifico&family=Rubik+Bubbles&family=Rubik+Scribble&display=swap");

%main-title {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 1.8;
  letter-spacing: 0.08em;
}

%subtitle {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

//My  style *********
%section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.025em;
  // text-align: center;
}

%main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  // text-align: left;
}
%small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.04em;
  // text-align: left;
}

%accent-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  // text-align: left;
}
// My styles lists button
%details {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42;
  letter-spacing: 0.04em;
  // text-align: right;
}

%details-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.04em;
  // text-align: left;
}
// end *******
